.big-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.1;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
   
}

.sub-heading {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 700;
}

.lead {
    font-family: $font-secondary;
    line-height: 1.4;
    font-size: 1rem;
    &--lg {
        font-size: 1.3rem;
    }
}