.courses-nav {
    text-align: center;
    
    @media #{$desktop} {
        background-color: $color-light;
        padding: 4em 1em 1em;
    }

    @media #{$tablet} {
        .btn {
            max-width: 47em;
            margin: 2em auto;
            padding: 1.3em;

        }
    }

 


    .heading {
        @include divider($color-orange, center);
    }


    &__list {
        @media #{$desktop} {
            margin: 3em;
        }
        @media #{$mobile}, #{$tablet} {
            background: $color-light;
            margin-top: 2em;
        }
    }
 
}


// Button Styles
.nav-btn {
    background: none;
    border: none;
    outline: none;
    padding: .5em;
    margin: .7em 0;
    cursor: pointer;
    font: inherit;
    appearance: none;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    

    @media #{$desktop} {
        border-bottom: 1.4px solid $color-blue-dark;
    }
    
    @media #{$mobile}, #{$tablet} {
        flex-direction: column-reverse;
        justify-content: center;
        border-right: 1.4px solid $color-blue-dark;
        padding: 1.5em;
        margin: 1.5em 0;

    }
    


    &:hover:not(.nav-btn--active) {
        color: $color-orange;

        
        .nav-btn__text {
            @media #{$desktop} {
                transform: translateX(5px);
            }
        }
        
        
        svg {
            transform: scale(1.1);
        }
    }

    &--active {
        color: $color-cyan;
        @media #{$tablet}, #{$desktop} {

            border-color: $color-cyan;
        }

        .nav-btn__text {
            font-weight: 700;
            @media #{$desktop} {
                transform: translateX(5px);
            }
        }
        svg {
            transform: scale(1.1);
        }
    }

    &__text {
        font-size: 1.2rem;
        text-transform: capitalize;
        color: $color-blue-dark;
        font: inherit;
        transition: transform .2s ease-in-out;

    }
    &__icon {
        @media #{$desktop} {
            margin-right: .5em;
        }
        @media #{$mobile}, #{$tablet} {
            margin-bottom: .7em;
        }
        svg {
            width: 2.2rem;
            height: 2.2rem;
            transition: all .2s ease-in-out;
           @media #{$mobile} {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
}