.about {
    background-color: $color-cyan;
    padding: 5em;

    @media #{$mobile} {
        padding: 3em;
    }

    &__text {
        text-align: center;
        font-size: 1.6rem;
        max-width: 60rem;
        margin: 0 auto;
        @media #{$mobile} {
            font-size: 1.3rem;
        }
    }
}