.about {
    background-color: $color-cyan;
    padding: 4em 0;
    @media #{$mobile}, #{$tablet} {
        padding: 4em 2em;
    }
    &__text {
        text-align: center;
        font-size: 2rem;
        line-height: 1.2;
        @media #{$mobile}, #{$tablet} {
            font-size: 1.8rem;
        }
        
    }
}