.experties {
    background-color: $color-gray;
    position: relative;
    padding: 4em 0;
    &__layout{
        @media #{$desktop} {
            display: flex;
            align-items: flex-start;
            min-height: 70rem;
            overflow-y: auto;

            .courses-menu {
                flex:1;
            }
        }
    
     

    }
}