.experties {
    background-color: $color-gray;
    position: relative;
    
    &__layout{
        @media #{$desktop} {
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;

            .courses-menu {
                flex:1;
            }
        }
    
     

    }
}