.counter {
    font-family: $font-secondary;
    background-color: $color-cyan;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 100%;
    top: 8em;
    padding: 1em 1.8em;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 400;

    @media #{$mobile} {
        font-size: 1.2rem;
        top: 11em;
        background-color: rgba($color-cyan, .6);
    }
}